

<div class="text-light mt-3">
    <h4 class="text-center">Park info</h4>
    <div class="row">
        <div class="col-9 ms-2">
            <h5>Number of machines:</h5>
        </div>
        <div class="col fs-5 me-1 align-self-center">
            <p class="btn-light btn px-1 py-0">@MachineCount</p>
        </div>
    </div>
    <div class="row">
        <div class="col-9 ms-2">
            <h5>Online machines:</h5>
        </div>
        <div class="col fs-5 me-1">
            <p class="btn-light btn px-1 py-0">@Online</p>
        </div>
    </div>
</div>
@code {

    [Parameter]
    public int MachineCount { get; set; }

    [Parameter]
    public int Online { get; set; }

}
